body{
    /* background-image: url('https://cdn.wallpapersafari.com/43/28/3vlobW.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
    margin: 0px;
}
.nav{
    display: flex;
    height:10%;
    width: 100%;
    background-color: #0f3057;
}
.left{
    display: inline-block;
    align-items: center;
    margin-left: 5%;
}
#bell-icon{
    height:50%;
    width: 5%;  
    color: #f8f1f1;
    font-size: 1.8rem;
    margin-top: 1.4%;
    margin-left: 3%;
}
.right{
    display: inline-block;
    float: right;
}
#search-bar{
    align-self: center;
    width:20%;
    height:50%;
    margin-left:5%;
    border: 1px solid #f8f1f1;
    color: #000000;
}
#search-bar:hover{
    background-color:#f1d4d4
}
#logo-heading{
    display: inline-block;
    font-family: cursive;
    font-size: 1.8rem;
    margin-top: 1.5%;
    margin-left: 1%;
    color: #f8f1f1;
}
#logo-image{
    height:100%;
    width:7%;
    border-radius: 70%;
    margin-left: -3%;
}
.favourites-heading{
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 1.3%;
    margin-left: 10%;
    color: #f8f1f1;
    font-family: cursive;
    text-decoration: underline;
}
.favourites-heading:hover{
    color:red;
    transition: all .5s ease-in-out;
}
.section-left{
    height: 100%;
    width:65%;
    margin-left: 5%;
    float: left;
    /* overflow: scroll; */

}

.artist-section{
    display: flex;
    height: 45%;
    width: 100%;
    margin-top: 5%;
    background-color: #393e46;
}
.artist-image{
    height: 100%;
    width: 40%;
}
 .info{
    height: 100%;
    width: 60%;
    background-color: #222831;
} 
.name{
    display: inline-block;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 3rem;
    color: #f4f6ff;
}
.followers{
    margin-left: 20%;
    font-size: 1.3rem;
    color: #f4f6ff;
}

.biography{
 margin-left: 8%;
 margin-right: 5%;
 font-size: 1.2rem;
 color: #f4f6ff;

}
.play-button{
    display: inline-block;
    font-size: 2rem;
    background-color: #000000;
    color: #7579e7;
    width: 25%;
    height: 17%;
    margin-left: 15%;
    margin-top: 1%;
}
.follow-link{
    display: inline-block;
    margin-left: 20%;
    height: 15%;
    width: 15%;
    background-color: #000000;
    padding:2%
}
.follow-link a{
    font-size: 1.3rem;
}
.follow-link:hover{
    background-color: black;
    color: red;
}
.follow-link a:hover{
    color: red;
   
}

.play-button:hover{
    background-color: black;
    color:red;
}

.logo-image{
    height: 100%;
    width: 100%;
}


.songs-scroll{
    height: 80%;
    overflow: scroll;
}
.box-3{
    height:15%;
    width:100%;
    margin-top: 5%;
    background-color: #1f4068;
    display: flex;
}

.queue-num{
    display: inline-block;
    color: #f6f5f5;
    font-size: 2rem;
    display: inline-block;
    margin-left: 2%;
    margin-top: 3%;
}
.queue-img{
    height:100%;
    width: 15%;
    margin-left: 5%; 
}
.heart-img{
    height: 50%;
    width: 15%;
    margin-left: 45%;
    margin-top: 2.4%;
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/860/860808.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.heart-img:hover{
    transform: scale(1.3);
    background-image: url('https://as1.ftcdn.net/jpg/01/88/01/26/500_F_188012670_h1QpIvfnKoRPFJzSMP8BPJvgfsmd8qaf.jpg');
    transition: all ease-in-out .8s;
}


.queue-name{
    display: inline-block;
    margin-top: 3%;
    width: 30%;
    font-size: 2rem;
    margin-left: 5%;
    color: #f6f5f5;
}

 .queue-image{
     height:100%;
    width: 10%;
    margin-left: 5%;   
}
.queue-number{
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 2%;
}
.queue-song-name{
    display: inline-block;
    width: 6%;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-top: 5%;
    color:white;
} 

.heart-image{
    height: 50%;
    width: 15%;
    margin-left: 13%;
    /* margin-top: 2%; */
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/860/860808.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.heart-image:hover{
    
    transform: scale(1.3);
    background-image: url('https://as1.ftcdn.net/jpg/01/88/01/26/500_F_188012670_h1QpIvfnKoRPFJzSMP8BPJvgfsmd8qaf.jpg');
    transition: all ease-in-out .8s;
}
.heart-image:active{
    transform: scale(1.3);
    background-image: url('https://as1.ftcdn.net/jpg/01/88/01/26/500_F_188012670_h1QpIvfnKoRPFJzSMP8BPJvgfsmd8qaf.jpg');
    transition: all ease-in-out .8s;
}  


.section-right{
    /* margin-top: 2%; */
    height: 100%;
    width:27%;
    margin-left: 3%;
    float:right;
    background-color: #221f3b;
    /* background-image: url('https://cdn.wallpapersafari.com/43/28/3vlobW.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.playlist-heading{
    color: white;
}
.queue-heading{
    color: white;
}

#queue{
    /* overflow: scroll; */
    height: 40%;
    
}
#queue-scroll{
    overflow: scroll;
    height: 85%;
}

#playlist{
    margin-top: 5%;
    /* overflow: scroll; */
    height: 80%;
}
#playlist-scroll{
    overflow: scroll;
    height: 100%;
}

.box-1{
    height:27%;
    width:100%;
    margin-top: 5%;
    background-color: #1f4068;
    display: flex;
}
.queue-image{
    height:100%;
    width: 23%;
    margin-left: 5%;  
}
.queue-number{
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 2%;
}
.queue-song-name{
    display: inline-block;
    width: 12%;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-top: 5%;
    color:white;
}

.heart-image{
    height: 50%;
    width: 15%;
   margin-left: 18%;
    margin-top: 5%;
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/860/860808.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.heart-image:hover{
    
    transform: scale(1.3);
    background-image: url('https://as1.ftcdn.net/jpg/01/88/01/26/500_F_188012670_h1QpIvfnKoRPFJzSMP8BPJvgfsmd8qaf.jpg');
    transition: all ease-in-out .8s;
}
.heart-image:active{
    transform: scale(1.3);
    background-image: url('https://as1.ftcdn.net/jpg/01/88/01/26/500_F_188012670_h1QpIvfnKoRPFJzSMP8BPJvgfsmd8qaf.jpg');
    transition: all ease-in-out .8s;
}
.box-2 {
    height:12%;
    width:100%;
    margin-top: 5%;
    background-color: #1f4068;
    display: flex;
}
