  
body{
    background-image: url('https://f4.bcbits.com/img/a3474128701_10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}


.nav{
    display: flex;
    height:10%;
    width: 100%;
    background-color: #000000;
}
.left{
    display: inline-block;
    align-items: center;
    margin-left: 5%;
}
#bell-icon{
    height:50%;
    width: 5%;  
    color: #f8f1f1;
    font-size: 1.8rem;
    margin-top: 1.4%;
    margin-left: 3%;  

}
.right{
    display: inline-block;
    float:right;
}
#search-bar{
    align-self: center;
    width:25%;
    height:50%;
    margin-left:15%;
    border: 1px solid #f8f1f1;
    color: #000000;
}
#search-bar:hover{
    background-color:#f1d4d4
}
.your-image{
    height:98%;
    width:6%;
    margin-top: 2px;
    border-radius: 50%;
}
#logo-heading{
    display: inline-block;
    font-family: cursive;
    font-size: 1.8rem;
    margin-top: 1.5%;
    margin-left: 1%;
    color: #f8f1f1;
}
#logo-image{
    height:100%;
    width:7%;
    border-radius: 70%;
    margin-left: -3%;
}
.content{
    width: 100%;

    background-color: black;
}

.favourites-heading{
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 1.3%;
    margin-left: 10%;
    color: #f8f1f1;
    font-family: cursive;
    text-decoration: underline;
}
.favourites-heading:hover{
    color:black;
    transition: all .5s ease-in-out;
}

.sign-out{
    color: white;
    align-items: center;
    font-size: 1.5rem;
    background-color: chocolate;
}
.sign-out:hover{
    background-color: crimson;
    color: #000000;
}
#user-image{
    height:100%;
    width:5%;
    margin-left: 2%;
    border-radius: 50%;
}
.btn{
    box-sizing: border-box;
    margin-left: 25%;
    margin-top: 8%;
    width: 120%;

}
#name{
    margin-left: -15%;
}
.dropdown-toggle::after{
    margin-left: 20%;
}
.Dropdown{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.section-left{
    height: 100%;
    width:70%;
    margin-left: 2%;
    float: left;
    /* background-image: url('https://cdn.wallpapersafari.com/43/28/3vlobW.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    /* overflow: scroll; */
    overflow-y: scroll;

}
.section-right{
    margin-top: 2%;
    height: 100%;
    width:25%;
    margin-left: 3%;
    float:right;
    /* background-image: url('https://cdn.wallpapersafari.com/43/28/3vlobW.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}
.box{
    height:20%;
    width:100%;
    background-color: #0f3057;
    margin-top: 5%;
}
.Box-2{
    height:12%;
    width:100%;
    background-color: #008891;
    margin-top: 5%;
}
#queue{
    /* overflow: scroll; */
    height: 40%;
    
}
#queue-scroll{
    overflow: scroll;
    height: 85%;
}
#playlist{
   padding-top: 5%;
    /* overflow: scroll; */
    height: 50%;
}
#playlist-scroll{
    overflow: scroll;
    height: 100%;
}
.artist-container{
    width:100%;
    margin-left: -2%;
    margin-top: 2%;
    height: 46%;
    display: flex;
    background-image: url('https://st4.depositphotos.com/9904426/25460/v/600/depositphotos_254602994-stock-video-music-concept-acoustic-guitar-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.artist-container:hover{
    background-image: url('https://st4.depositphotos.com/9904426/25460/v/600/depositphotos_254602994-stock-video-music-concept-acoustic-guitar-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale3d(1.3);
    transition: all ease-in-out .5s;
}
h1{
    color:black;
}
.artists{
    /* box-sizing: border-box; */
    height:100%;
    width: 28%;
    margin-left: 2%;
    margin-right: 1%;
    padding-top: 2%;
    padding-bottom: 1%;
   
  
}

.artist{
    height:100%;
    width:100%;
    border-radius: 50%;
}  


.spiralContainer {
    height:100%;
    width: 39%;
    margin-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
   
  
  -webkit-animation: spin 3s linear 0s infinite reverse;
  -moz-animation: spin 3s linear 0s infinite reverse;  
  -ms-animation: spin 3s linear 0s infinite reverse;
  -o-animation: spin 3s linear 0s infinite reverse;
  animation: spin 3s linear 0s infinite reverse;
  
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;  
  animation-play-state: paused;
}
.spiral {
    height:100%;
    width:100%;
    border-radius: 50%;
    margin-left: 2%;
  background-image: url('https://i.ytimg.com/vi/6Kxq7k-E2Gc/hqdefault.jpg');
  background-repeat:no-repeat;
  background-position:50% 50%;
  
  
  -webkit-animation: spin 6s linear 0s infinite normal;
  -moz-animation: spin 6s linear 0s infinite normal;
  -ms-animation: spin 6s linear 0s infinite normal;
  -o-animation: spin 6s linear 0s infinite normal;
  animation: spin 6s linear 0s infinite normal;
}
.spiral:hover{
    transform: scale(1.2);
    transition: all ease-in-out .5s;
}
.spiralContainer:hover {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(0deg); }
}
@-ms-keyframes spin {
  0% {-ms-transform: rotate(360deg); }
  100% { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(360deg); }
  100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(360deg); }
  100% { -o-transform: rotate(0deg); }
}

.latest-release-container{
   
    background-color:#101b47;
    height:45%;
    margin-top: 5%;
    padding-top: 2%;
}
.latest-release-container:hover{
    background-image: url('https://branding.ifas.ufl.edu/media/brandingifasufledu/virtual-backgrounds/Spiral.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color:#411f1f; */
}
#latest-release-head{
    margin-left: 35%;
    color:white;
}
#latest-release-heading{
    margin-left: 37%;
    color: white;
  
}
#adjust{
    display: flex;
    flex-direction: row;
   
}
.l-r-c{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    height: 30%;
    width: 40%;
    margin-top: 3%;
    margin-left: 5%;
   
}
.latest-release-image{
    display: inline-block;
    height: 100%;
    width:30%;

    /* background-image: url('https://www.celebrityborn.com/admin/assets/images/people/1wYapf4yeWTwSfcm3WBM_2018_02_16.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.l-r-t{
    display: inline-block;
    font-size: 1.3rem;
    color: white;
    margin-left: 4%;
    margin-top: 2%;
    width: 50%;
    
}
.date{
    display: block;
    margin-left: 7%;
    font-size: 1rem;
}
.l-r-i{
    height: 90%;
    width: 30%;
}
.l-r-i:hover{
    transform: scale(1.);
    transition: all ease-in-out .5s;
}
.l-r-a{
    display: inline-block;
    font-size: 2rem;
    margin-top: 5%;
    color:white;
    margin-left: 5%;
}
#popular-artist-container{
    background-color: #000000;
    height:39%;
    margin-top: 5%;
    padding-top: 2%;
}
#popular-artist-container:hover{
    background-image: url('https://image.shutterstock.com/image-vector/black-abstract-geometric-background-modern-260nw-1248804223.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.p-a-i{
    display: inline-block;
    height:55%;
    margin-top: 1%;
    margin-bottom: 1%;
    width:17%;
    margin-left: 2%;
    border-radius: 50%;
}



.p-a-i:hover{
 
    transform: scale(.9);
}
.dummy-name{
    margin-left: 4%;
    font-size: 1.5rem;
    color: white;
}
.dummy-name-3{
    margin-left: 8%;
    font-size: 1.5rem;
    color: white;
}
.extra-width{
    margin-left: 8%;
    font-size: 1.5rem;  
    color: white;
 
}
.extra{
    margin-left: 11%;
    font-size: 1.5rem; 
    color: white;

}
.t{
    background-size: cover;
    height:100%;
    width: 100%;
}
#mike{
    display: flex;
    /* background-color: #495464; */
    height:25%;
    margin-top: 5%;
}
#mike:hover{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8Lw4qwYBu3p7f7SLReNBfbZt0ttkBmbbVMA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}
#Mike-image{
    width: 17%;
    margin-left: 2%;
    height:70%;
    margin-top:3%;
}
#Mike-image:hover{
    transform: scale(.8);
}
.song-types{
    width: 14%;
    margin-left: 2%;
    height:65%;
    margin-top:4%;
    border-radius: 50%;
}
#types-of-songs{
    display: flex;
    /* background-color: #8675a9; */
    height:40%;
    margin-top: 5%;
}
#types-of-songs:hover{
    background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
}
.party-image{
    height: 70%;
    margin-top: 5%;
    width:30%;
    margin-left: 2%;

}
.party-image:hover{
        transform: scale(.8);
}
#party-text{
    position: absolute;
    font-size: 2rem;
    color: black;
    margin-left: 8%;
    margin-top: 5%;
}
#electronics-text{
    position: absolute;
    font-size: 2rem;
    color: white;
    margin-left: 25%;
    margin-top: 5%;
}
#road-text{
    position: absolute;
    font-size: 2rem;
    color: white;
    margin-left: 48%;
    margin-top: 5%;
}

#latest-hindi{
    /* background-color: #1a1a2e; */
    height:37%;
    margin-top: 5%;
   padding-top: 1%;
   padding-bottom: 3%;
}
#latest-hindi:hover{
    background-image: url('https://thumbs.gfycat.com/DeadlySplendidFlyinglemur-small.gif');
    background-repeat: no-repeat;
    background-size: cover;}
#latest-english{
    /* background-color: #212121; */
    height:37%;
    margin-top: 5%;
   padding-top: 1%;
   padding-bottom: 3%;
}
#latest-english:hover{
    background-image: url('https://media.istockphoto.com/photos/dark-blue-background-picture-id962737798?k=6&m=962737798&s=612x612&w=0&h=VlQamnGFUXt0gFx8udLDG3_it004SKZVKe-HYzEzTe8=');
    background-repeat: no-repeat;
    background-size: cover;
}
.latest-hindi-image{
    display: inline-block;
    height:60%;
    margin-top: 1%;
    margin-bottom: 1%;
    width:17%;
    margin-left: 2%;
    
}

.l-h-t-1{
    font-size: 1.7rem;
    margin-left: 5%;
    color: cornsilk;
}

.l-h-t-2{
    font-size: 1.7rem;
    margin-left: 10%;
    color: cornsilk;
}
.l-h-t-3{
    font-size: 1.7rem;
    margin-left: 10%;
    color: cornsilk;
}
.l-h-t-4{
    font-size: 1.7rem;
    margin-left: 8%;
    color: cornsilk;
}
.l-h-t-5{
    font-size: 1.7rem;
    margin-left: 7%;
    color: cornsilk;
}
.l-e-t-1{
    font-size: 1.4rem;
    margin-left: 2%;
    color: cornsilk;
}
.l-e-t-2{
    font-size: 1.4rem;
    margin-left: 5%;
    color: cornsilk;
}
.l-e-t-3{
    font-size: 1.4rem;
    margin-left: 10%;
    color: cornsilk;
}
#t{
    background-color: red;
    height:50%;
    width: 30%;
}
.l-p-t-1{
    font-size: 1.4rem;
    margin-left: 5%;
    color: cornsilk;
}
.l-p-t-2{
    font-size: 1.4rem;
    margin-left: 10%;
    color: cornsilk;
}
#latest-punjabi{
    /* background-color: #16213e; */
    height:37%;
    margin-top: 5%;
   padding-top: 1%;
   padding-bottom: 3%;
}
#latest-punjabi:hover{
    background-image: url('https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9');
    background-repeat: no-repeat;
    background-size: cover;
}
.l-p-t-3{
    font-size: 1.4rem;
    margin-left: 13%;
    color: cornsilk;
}
.box-1{
    height:30%;
    width:100%;
    margin-top: 5%;
    border: 3px solid black;
    background-color: #092532; 
    display: flex;
}
.box-1:hover{
    background-color: #5a3d55;
}
.queue-image{
    height:100%;
    width: 23%;
    margin-left: 5%;  
}
.queue-number{
    display: inline-block;
    color: white;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: 2%;
}
.queue-song-name{
    display: inline-block;
    width: 12%;
    font-size: 1.5rem;
    margin-left: 10%;
    margin-top: 5%;
    color:white;
}

.heart-image{
    height: 50%;
    width: 15%;
   margin-left: 18%;
    margin-top: 5%;
    background-image: url('https://as1.ftcdn.net/jpg/01/03/98/10/500_F_103981090_XHS2eMXAgijVqSyVuRVEFfjYDVVKrM0F.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.heart-image:hover{
    
    transform: scale(1.3);
    background-image: url('https://as1.ftcdn.net/jpg/01/88/01/26/500_F_188012670_h1QpIvfnKoRPFJzSMP8BPJvgfsmd8qaf.jpg');
    transition: all ease-in-out .2s;
}
.heart-image:active{
    transform: scale(1.3);
    background-image: url('https://as1.ftcdn.net/jpg/01/88/01/26/500_F_188012670_h1QpIvfnKoRPFJzSMP8BPJvgfsmd8qaf.jpg');
    transition: all ease-in-out .2s;
}
.box-2 {
    height:20%;
    width:100%;
    margin-top: 5%;
    background-color: #383e56;  
      display: flex;
}
.box-2:hover{
    background-color: #2f2519;
}
.queue-heading{
    color:white;
}
.playlist-heading{
    color:white;
    margin-top: 5%;
}
.party-text{
    position: absolute;
    font-size: 5rem;
    color: white;
}
@media screen and (max-width:1300px){
    .artist-container{
        width:100%;
        margin-left: 0%;
        margin-top: 2%;
        height: 33%;
        display: flex;
        /* background-color: #000000; */
    }
    .spiralContainer {
        height: 100%;
        width: 50%;
        animation: none;
    }
    .spiral{

        animation: none;
    }
    .dummy-name-3{
        margin-left: 3%;
    font-size: 1.3rem;
    color: white;
    }
    .playlist-heading{
        color:red;
        margin-top: 10%;
    }

    .l-h-t-1{
        font-size: 1.5rem;
        margin-left: 4%;
    }
    .l-h-t-2{
        font-size: 1.5rem;

    }
    .l-h-t-3{
        font-size: 1.5rem;
    }
    .l-h-t-4{
        font-size: 1.5rem;
    }
    .l-h-t-5{
        font-size: 1.5rem;
    }
    .l-e-t-1{
        font-size: 1.2rem;
        margin-left: 1%;
        color: cornsilk;
    }
    .l-e-t-2{
        font-size: 1.2rem;
        margin-left: 5%;
        color: cornsilk;
    }
    .l-e-t-3{
        font-size: 1.2rem;
        margin-left: 9%;
        color: cornsilk;
    }

}
@media screen and (max-width:1200px){
    .dummy-name{
        margin-left: 2.4%;
        font-size: 1.3rem;
    }
    .dummy-name-3{
        margin-left: 3%;
    font-size: 1.3rem;
    }
    .l-h-t-1{
        font-size: 1.4rem;
        margin-left: 4%;
    }
    .l-h-t-2{
        font-size: 1.4rem;

    }
    .l-h-t-3{
        font-size: 1.4rem;
    }
    .l-h-t-4{
        font-size: 1.4rem;
    }
    .l-p-t-3{
        margin-left: 7%;
    }
}

@media screen and (max-width:1150px){
    .dummy-name{
        margin-left: 3%;
        font-size: 1.1rem;
    }
    .dummy-name-3{
        margin-left: 6%;
    font-size: 1.3rem;
    }
    .l-h-t-1{
        font-size: 1.4rem;
        margin-left: 3%;
    }
    .l-h-t-2{
        font-size: 1.4rem;
    }
    .extra{
        font-size: 1.3rem;
    }
    .extra-width{
        font-size: 1.3rem;
    }
    .l-h-t-3{
        font-size: 1.4rem;
    }
    .l-h-t-4{
        font-size: 1.4rem;
    }
    .l-h-t-5{
        font-size: 1.4rem;
        margin-left: 5%;
    }
    .l-e-t-1{
        font-size: 1.2rem;
        margin-left: 1%;
        color: cornsilk;
    }
    .l-e-t-2{
        font-size: 1.2rem;
        margin-left: 4%;
        color: cornsilk;
    }
    .l-e-t-3{
        font-size: 1.2rem;
        margin-left: 7%;
    }
    .l-p-t-2{
        margin-left: 5%;
    }
    .l-p-t-3{
        margin-left: 8%;
    }
    .queue-number{
        font-size: 1.2rem; 
        }
    .queue-song-name{        
        font-size: 1.2rem;
        margin-left: 6%;
    }
}

@media screen and (max-width:1030px){
    #mike{
        height: 20%;
    }
    #popular-artist-container{
        height: 34%;
    }
    .latest-release-container{
        height: 36%;
    }
    .dummy-name-3{
        margin-left: 2%;
    }
    .l-h-t-4{
        margin-left: 4%;
    }
    .l-h-t-5{
        font-size: 1.4rem;
        margin-left: 1%;
    }
    .l-e-t-2{
        margin-left: 2%;
    }
    .l-e-t-3{
        font-size: 1.2rem;
        margin-left: 4%;
    }
    .l-p-t-3{
        margin-left: 5%;
    }
    .queue-song-name{        
        margin-left: 3%;
    }
    .heart-image{
        margin-left: 26%;
    }
    #search-bar{
        margin-left: 6%;
    }
}
